
/*
CSS adaptada de: Battleship Game, Geraldo Cabral, https://portfolium.com/Gerardo_Cabral
*/

#gameBoard {
  margin: 0 auto;
  height: 700px;
  width: 700px;
  background-color: black;
  border-style: none;
  border-color: dodgerblue;

}

.tile {
    background-color: dodgerblue;
    border-style: solid;
    border-color: black;
    font-family: Verdana;
    color: dodgerblue;
    text-align: center;
}

.tile-inv {
    background-image: url(/images/backg.png);
    border-style:none;
    border-color: transparent;
    font-family: Verdana;
    text-align: center;
}

.tile-letras {
    border-color: transparent transparent black transparent;
    font-weight: bold;
}

.tile-numeros {
    border-color: transparent black transparent transparent;
    font-weight: bold;
}


.hit{
  background-color: red;
  color:red;
  
}


.misses{
  background-color: skyblue;
  color:skyblue;
}

