.logo{

    height:150%;
    margin-top:-6px;
    margin-bottom:2px;

}


.row {
    margin-top: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
}

.homep {
    margin-top: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

h3 {
    
    font-size: 30px;
    line-height: 1.5;
    
}

p {
    padding-bottom: 25px;
    text-align: justify;
    
    font-size: 15px;
    line-height: 1.5;
}

li {
    
    font-size: 15px;
    line-height: 1.5;
}

caption {
    color: black;
    text-align: center;
    font-size: x-large;
}

td {
    color: black;
    background-color: gainsboro;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 1.5;
}

th {
    background-color: black;
    color: white;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: Verdana;
    font-size: 15px;
    line-height: 1.5;
}

table {
    color: black;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-family: Verdana;
    font-size: 15px;
    line-height: 1.5;
}

.imgcenterfront {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid black;
}

figcaption {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/images/backg.png);
    font-family: Verdana;
    color: black;
}

hr {
    
    height: 1px;
    border-width: 1px;
    border-color:black;
    
}








