@{
    ViewData["Title"] = "About";
}
<head>

</head>
<body>
    <div>
        <h1>Regras</h1>

        <p></p>
    </div>
    <div>
        <form method="post" action="/Home/PaginaInicial">
            <button>Voltar</button>
        </form>
    </div>
</body>