
@{
    ViewData["Title"] = "Equipa -";

}

<div id="contain" class="page-header">
    <h1>Ti Delian</h1>
</div>


<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Projeto')" id="defaultOpen">Projeto</button>
    <button class="tablinks" onclick="openTab(event, 'Equipa')">Equipa</button>
    <button class="tablinks" onclick="openTab(event, 'MEquipa')">Membros da equipa</button>
</div>

<div id="contain">



    <div id="Projeto" class="tabcontent">

        <h3 id="contain" class="text-center">

            História do jogo

        </h3>
        <p>O Japão tem reforçado a sua frotaa marítima desde o fim da II Guerra Mundial e prepára-se para emboscar a frota dos Estados Unidos da América, iniciando assim a III Guerra Mundial! Alguém tem de ser o herói nesta história e impedir que esta emboscada aconteça! Serás tu o herói desta história?</p>
        <img class="imgcenter" src="~/images/naval_fleet.jpg" alt="Historia" title="Historia" />
        
        <h3 id="contain" class="text-center">

            Projeto

        </h3>
        <p>O objetivo passa pela elaboração de uma aplicação Web que implementa uma versão modificada do popular jogo de tabuleiro Batalha Naval, aplicando os conhecimentos adquiridos ao longo do semestre.</p>
        <img class="imgcenter" src="~/images/wb.jpg" alt="Projeto" title="Projeto">
    </div>
    <div id="Equipa" class="tabcontent">

        <h3 id="contain" class="text-center">

            Equipa

        </h3>

        <p>
            Com vista à realização de um projeto no âmbito da UC de Desenvolvimento de Aplicações II,
            foi criada a equipa "Ti Delian".
        </p>

        <p>
            O nome foi inspirado na expressão "Nailed it".
            O truque, caso ainda não tenhas reparado, foi escrever a expressão de trás para a frente.
        </p>



    </div>

    <div id="MEquipa" class="tabcontent">

        <h3 id="contain" class="text-center">

            Membros da equipa

        </h3>


        <table>



            <tr>
                <td><img src="~/images/letter-a.png" width="100" title="A" /></td>
                <td><b>André Pinho</b></td>
                <td><i>Jardiense. Hobbys Favoritos: Roer as unhas e colecionar diferentes tipos de erva daninha. Sonha tirar o mestrado em utilização do WordArt.</i></td>
                <td><a href="https://www.facebook.com/andrefgpinho"><img src="~/images/LogoFacebook.png" alt="facebook" title="facebook" width="40" /></a></td>
            </tr>

            <tr>
                <td><img src="~/images/letter-m.png" width="100" title="M" /></td>
                <td><b>Myke Palma</b></td>
                <td><i>Holandês. Hobbys favoritos: Fumar papel de parede e ficar a olhar para uma parede sem respirar até desmaiar. Sonha em tornar-se no Chefe unicórnio para poder mandar todos os seus uniEscravos suicidarem-se por verem os "Teletubies" durante dez mil horas.</i></td>
                <td><a href="https://www.facebook.com/myke.palma"><img src="~/images/LogoFacebook.png" alt="facebook" title="facebook" width="40" /></a></td>
            </tr>

            <tr>
                <td><img src="~/images/letter-r.png" width="100" title="R" /></td>
                <td><b>Ricardo Carvalho</b></td>
                <td><i>Alentejano. Hobbys favoritos: Comer e fazer a sesta após a refeição. Sonha em tornar-se o Deus das suas ovelhas, podendo assim, pastá-las deitado á sombra do sobreiro.</i></td>
                <td><a href="https://www.facebook.com/ricardo.carvalho.56679"><img src="~/images/LogoFacebook.png" alt="facebook" title="facebook" width="40" /></a></td>
            </tr>


        </table>



    </div>
</div>
    










