
@{
    ViewData["Title"] = "Equipa -";

}

<div class="page-header">
    <h1>Ti Delian</h1>
</div>

<div class="row">

    <div class="col-md-12">
        <p>Com vista à realização de um Projeto, no âmbito da UC de Desenvolvimento de Aplicações II, foi criada a equipa "Ti Delian" cujo nome foi inspirado na expressão "Nailed it". O truque, caso ainda não tenhas reparado, foi escrever a expressão de trás para a frente.</p>
        <p>O objetivo passa pela elaboração de uma aplicação Web que implementa uma versão modificada do popular jogo de tabuleiro Batalha Naval, aplicando os conhecimentos adquiridos ao longo do semestre.</p>
    </div>

</div>

    <div class="row">
        
        <div class="col-md-3">
            <p>Membros da equipa:</p>

        </div>

        <div class="col-md-3">
            <p> <span class="glyphicon glyphicon-user"></span> <b>André Pinho</b></p>
            <p>160323023</p>
            <p>GSI21</p>

        </div>

        <div class="col-md-3">
            <p><span class="glyphicon glyphicon-user"></span> <b>Myke Palma</b></p>
            <p>160323028</p>
            <p>GSI21</p>

        </div>

        <div class="col-md-3">
            <p><span class="glyphicon glyphicon-user"></span> <b>Ricardo Carvalho</b></p>
            <p>160323001</p>
            <p>GSI21</p>

        </div>

        </div>
    

    
    

    










