
@{
    ViewData["Title"] = "Equipa -";

}

<div id="contain" class="page-header">
    <h1>Ti Delian</h1>
</div>


<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Projeto')" id="defaultOpen">Projeto</button>
    <button class="tablinks" onclick="openTab(event, 'Equipa')">Equipa</button>
    <button class="tablinks" onclick="openTab(event, 'MEquipa')">Membros da equipa</button>
</div>

<div id="contain">



    <div id="Projeto" class="tabcontent">

        <h3 id="contain" class="text-center">

            Projeto

        </h3>
        <p>O objetivo passa pela elaboração de uma aplicação Web que implementa uma versão modificada do popular jogo de tabuleiro Batalha Naval, aplicando os conhecimentos adquiridos ao longo do semestre.</p>

        <img class="imgcenter" src="~/images/naval_fleet.jpg" alt="Historia" title="Historia" />

        <h3 id="contain" class="text-center">

            História do jogo

        </h3>
        <p>O Japão tem reforçado a sua frota marítima desde o fim da II Guerra Mundial e prepára-se para emboscar a frota dos Estados Unidos da América, iniciando assim a III Guerra Mundial! Alguém tem de ser o herói nesta história e impedir que esta emboscada aconteça! Serás tu o herói desta história?</p>
    </div>
    <div id="Equipa" class="tabcontent">

        <h3 id="contain" class="text-center">

            História da equipa <i>Ti Delian</i>

        </h3>
        <p>
            Há muito tempo, cerca de 4.6 biliões de anos atrás, uma estrela, já muito velha estaria prestes a morrer provocando uma explosão enorme! Esta explosão levaria ao que é chamada uma nebulosa, a nebulosa solar e formando assim "O sistema Solar". Formado por vários planetas, e um deles seria a Terra.
        </p>
        <p>
            Na terra, o universo experienciou algo que nunca tinha experienciado antes <i>a vida</i>. Esta foi evoluindo:
        </p>

        <p><i>Há 4 biliões de anos atrás:</i></p>
        <p>Olha! O primeiro ser vivo, ele basicamente só bebia água e tinha filhos. </p>
        <p><i>Pouco tempo depois:</i></p>
        <p>Olha! um novo ser vivo que descobriu que melhor do que beber água é comer outros seres vivos! A evolução é tão linda...</p>
        <p> <i>Mais um pouco tempo depois:</i></p>
        <p>O canibalismo chegou! </p>
        <p>Dinossauro + meteorito = Ratos</p>
        <p>Ratos + Tempo = Humanos</p>
        <p>E assim apareceram Adão e Eva. Que fizeram o que hoje são aproximadamente 8 Biliões de filhos. </p>
        <p>
            3 destes filhos, são muito especiais e são conhecidos como Myke, André e Ricardo.
            Myke e André conheceram-se através de um programa de construção de foguetões em forma de cilindros com cantos.
            Após muitas pesquisas perceberam que esse trabalho seria impossível de subir na vida e que era uma causa perdida,
            portanto decidiram de mudar-se para a programação, ficando conhecidos por "Equipa GGEZ". Longos anos passaram e o Presidente,
            que conhecia a Equipa GGEZ, pelos seus atos de programação em aplicações de alimentação virtual, precisava de ajuda,
            pois descobriu que o Japão estaria a preparar-se para dominar o mundo!
            E pediu que estes fizessem alguma aplicação para conseguir vencer aos Japoneses antes que fosse tarde de mais!
            E assim começaram a fazer esta aplicação, mas havia um problema, Myke e André não tinham o conhecimento sobre a força naval japonesa nem sobre Barcos em geral.
            E foi assim que se juntou o terceiro elemento: Ricardo, Ex militar das forças marítimas do país que era conhecido como "Se estás perdido deves estar aqui".
            Formando assim o que hoje é conhecida como a equipa "<i>Ti Delian</i>".
            (Este nome foi escolhido porque o Ex. Militar Ricardo tinha uma mulher que tinha um filho que tinha uma prima que sonhava em ser pregadora (Pregar pregos)
            mas a equipa queria trabalhar internacionalmente, portanto Myke deu a sugestão de dar o nome à equipa "Nailed it!" mas André disse que era muito foleiro
            e que se era para ter um nome foleiro mais valia escrever o inverso da palavra e "estava ganho". Myke e Ricardo concordaram e assim nasceu o nome "Ti Delian”)
        </p>
        <p><b><i>O Fim.</i></b></p>


    </div>

    <div id="MEquipa" class="tabcontent row">

        <h3 id="contain" class="text-center">

            Membros da equipa

        </h3>
        <div class="row">
            <div class="col-md-3">

                <img class="imgcenter" src="~/images/Pinho.jpg" alt="Pinho" title="Pinho" />

            </div>


            <div class="col-md-9">

                <h4><b>André Pinho</b><i> "O Jardiense"</i></h4>
                <p><i>É apenas mais um ser humano colecionador de erva daninha e que pretende entender como o mundo realmente funciona.</i></p>
                <p><i>"Penso que sim, mas acho que não..." - Apesar de não ter a certeza, acha-se a pessoa mais indecisa do mundo . Adora roer as unhas e utilizar o WordArt em trabalhos académicos.</i></p>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">

                <img class="imgcenter" src="~/images/Myke.jpg" alt="Myke" title="Myke" />

            </div>

            <div class="col-md-9">

                <h4><b>Myke Palma</b><i> "O Holandês"</i></h4>
                <p><i>Passa os seus dias a fumar papel de parede e a olhar para uma parede sem respirar até desmaiar. O seu sonho é tornar-se no Chefe unicórnio para poder mandar todos os seus uniEscravos suicidarem-se por verem os "Teletubies" durante dez mil horas.</i></p>
                <p><i>Sou tão "Top" que precisavas de um foguetão para me alcançares. </i></p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">

                <img class="imgcenter" src="~/images/Beja.jpg" alt="Ricardo" title="Ricardo" />

            </div>

            <div class="col-md-9">

                <h4><b>Ricardo Carvalho</b><i> "O Alentejano"</i></h4>
                <p><i>Se existe uma coisa que a minha pessoa não desgosta são os cereais Chocapic, possuem um sabor tão frustrante como a primeira dentada de uma garrafa de água "Caldas de Penacova".</i></p>
                <p>
                    <i>
                        Nunca ninguém disse que seria fácil, "Gosto bastante de cãos" é o meu pensamento quando imagino vaquinhas
                        voando com uma perna furada por uma pastilha de mentol meio mastigada. Ter ansieade é como pontapear um balão vazio, provoca o sorriso das formigas.
                    </i>
                </p>
            </div>
        </div>

    </div>


</div>








