
@{
    ViewData["Title"] = "Equipa";

}

<div class="page-header">
    <h1>Ti Delian</h1>
</div>

<div class="jumbotron">
    <table>

        <tr>
            <th>Nome</th>
            <th>Número</th>
            <th>Turma</th>
        </tr>


        <tr>
            <td>André Pinho</td>
            <td>160323023</td>
            <td>GSI21</td>
        </tr>

        <tr>
            <td>Myke Palma</td>
            <td>160323028</td>
            <td>GSI21</td>
        </tr>


        <tr>
            <td>Ricardo Carvalho</td>
            <td>160323001</td>
            <td>GSI21</td>
        </tr>


    </table>
</div>

<div>

    Projeto desenvolvido no âmbito da UC de Desenvolvimento de Aplicações II, tendo como objetivo de aplicar os conhecimentos adquiridos ao longo do semestre.

   

</div>
<div>
    <form method="post" action="/Home/PaginaInicial">
        <button>Voltar</button>
    </form>
</div>

<!--> FALTA ACABAR O CSS da cena </!-->








