
@{
    ViewData["Title"] = "Equipa -";

}

<div id="contain" class="page-header">
    <h1>Ti Delian</h1>
</div>


<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Projeto')" id="defaultOpen">Projeto</button>
    <button class="tablinks" onclick="openTab(event, 'Equipa')">Equipa</button>
    <button class="tablinks" onclick="openTab(event, 'MEquipa')">Membros da equipa</button>
</div>

<div id="contain">



    <div id="Projeto" class="tabcontent">

        <h3 id="contain" class="text-center">

            Projeto

        </h3>

        <p>O objetivo passa pela elaboração de uma aplicação Web que implementa uma versão modificada do popular jogo de tabuleiro Batalha Naval, aplicando os conhecimentos adquiridos ao longo do semestre.</p>
        <img class="imgcenter" src="~/images/wb.jpg" alt="Projeto" title="Projeto">
    </div>
    <div id="Equipa" class="tabcontent">

        <h3 id="contain" class="text-center">

            Equipa

        </h3>

        <p>
            Com vista à realização de um projeto no âmbito da UC de Desenvolvimento de Aplicações II,
            foi criada a equipa "Ti Delian".
        </p>

        <p>
            O nome foi inspirado na expressão "Nailed it".
            O truque, caso ainda não tenhas reparado, foi escrever a expressão de trás para a frente.
        </p>



    </div>

    <div id="MEquipa" class="tabcontent">

        <h3 id="contain" class="text-center">

            Membros da equipa

        </h3>


        <table>



            <tr>
                <td><img src="~/images/letter-a.png" width="100" title="A" /></td>
                <td>André Pinho</td>
                <td>160323023</td>
                <td>GSI21</td>


            </tr>

            <tr>
                <td><img src="~/images/letter-m.png" width="100" title="M" /></td>
                <td>Myke Palma</td>
                <td>160323028</td>
                <td>GSI21</td>


            </tr>

            <tr>
                <td><img src="~/images/letter-r.png" width="100" title="R" /></td>
                <td>Ricardo Carvalho</td>
                <td>160323001</td>
                <td>GSI21</td>


            </tr>


        </table>



    </div>
</div>
    










