@{
    ViewData["Title"] = "Home";
}

<div class="page-header">
    <h1>Battleship Wars</h1>
</div>

<div>
    <form method="post" action="/Home/NovoJogo">
        <button class="btn btn-primary center-block">Criar Novo Jogo</button>
    </form>
    <form method="post" action="/Home/HiScores">
        <button class="btn btn-primary center-block">Hi-Scores</button>
    </form>
    <form method="post" action="/Home/About">
        <button class="btn btn-primary center-block">Regras</button>
    </form>
    <form method="post" action="/Home/Equipa">
        <button class="btn btn-primary center-block">Equipa</button>
    </form>
</div>