@model Jogo
@{
    ViewData["Title"] = "GameOverScore";
}

<h2>Game Over</h2>
<div>
    <ul>
        <li>Resultado:@*Como colocar o resultado aqui se tá noutro model ?*@ </li>
        <li>ID: @Model.ID</li>
        <li>Score: @Model.Score</li>
        <li>Porta-aviões restantes:@Model.Portaavioesrest</li>
        <li>Quatro canos restantes:@Model.Quatrocanosrest</li>
        <li>Três canos restantes:@Model.Trescanosrest</li>
        <li>Dois canos restantes:@Model.Doiscanosrest</li>
        <li>Submarinos restantes:@Model.Submanrinosrest</li>
        <li>Último Tiro Disparado: @Model.UltimoTiroDisparado</li>

    </ul>
    <a asp-action="NovoJogo" class="btn btn-success">Jogar novamente</a>
   
</div>