
@{
    ViewData["Title"] = "Hi-Scores -";

}

<div>
    <h1>Hi-Scores</h1>
</div>

<hr />

<!-- Missão Antiaérea-->

<table>
    <caption>Missão Antiaérea</caption>

    <thead>
        <tr>
            <th rowspan="2">Nome do Jogador</th>
            <th rowspan="2">Pontuação</th>
            <th rowspan="2">Resultado final</th>
            <th colspan="3">Nº de Mísseis lançados</th>
            <th rowspan="2">% de tiros no alvo</th>
            <th rowspan="2">% de barcos afundados</th>

        </tr>


        <tr>
            <th>na água</th>
            <th>no alvo</th>
            <th>repetido</th>


        </tr>

    </thead>


    <tbody>

        <!-- 1 -->
        <tr>
            <td>André</td>
            <td>2900 </td>
            <td> Vitória</td>
            <td>  </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td> </td>


        </tr>

        <!-- 2 -->
        <tr>
            <td>Bruno</td>
            <td>2800 </td>
            <td> Vitória</td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>


        </tr>

        <!-- 3 -->
        <tr>
            <td>Carla</td>
            <td>2700 </td>
            <td>Vitória </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>


        </tr>
        <!-- 4 -->
        <tr>
            <td>Daniel</td>
            <td>2600 </td>
            <td> Vitória</td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>


        </tr>
        <!-- 5 -->
        <tr>
            <td>Eva</td>
            <td>2100 </td>
            <td> Vitória</td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>


        </tr>

        <!-- 6 -->
        <tr>
            <td>Fernando</td>
            <td>1200 </td>
            <td> Derrota</td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>


        </tr>

        <!-- 7 -->
        <tr>
            <td>Gonçalo</td>
            <td>1000 </td>
            <td>Derrota </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

        <!-- 8 -->
        <tr>
            <td>Hélder</td>
            <td>500 </td>
            <td>Derrota </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

        <!-- 9 -->
        <tr>
            <td>Ivo</td>
            <td>400 </td>
            <td>Derrota </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

        <!-- 10 -->
        <tr>
            <td>João</td>
            <td>100 </td>
            <td> Derrota</td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

    </tbody>

</table>


<!--Missão Destruição Total-->


<table>
    <caption>Missão Destruição Total</caption>
    <thead>
        <tr>
            <th rowspan="2">Nome do Jogador</th>
            <th rowspan="2">Pontuação</th>
            <th rowspan="2">Resultado final</th>
            <th colspan="3">Nº de Mísseis lançados</th>
            <th rowspan="2">% de tiros no alvo</th>
            <th rowspan="2">% de barcos afundados</th>

        </tr>


        <tr>
            <th>na água</th>
            <th>no alvo</th>
            <th>repetido</th>


        </tr>

    </thead>

    <tbody>

        <!-- 1 -->


        <tr>
            <td>A</td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

        <!-- 2 -->
        <tr>
            <td>B</td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

        <!-- 3 -->
        <tr>
            <td>C</td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>
        <!-- 4 -->
        <tr>
            <td>D</td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>
        <!-- 5 -->
        <tr>
            <td>E</td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

        <!-- 6 -->
        <tr>
            <td>F</td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

        <!-- 7 -->
        <tr>
            <td>G</td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

        <!-- 8 -->
        <tr>
            <td>H</td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

        <!-- 9 -->
        <tr>
            <td>I</td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

        <!-- 10 -->
        <tr>
            <td>J</td>
            <td> </td>
            <td> </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>

        </tr>

    </tbody>

</table>


