
@{
    ViewData["Title"] = "Hi-Scores -";

}

<div>
    <h1>Hi-Scores</h1>
</div>

<hr />

<!-- Missão Antiaérea-->

<table>
    <caption>Missão Antiaérea</caption>
    <tr>
        <th>Nome do Jogador</th>
        <th>Pontuação</th>
        <th>Resultado final</th>
        <th>Nº de Mísseis lançados</th>
        <th>% de tiros no alvo</th>
        <th>% de barcos afundados</th>
    </tr>

    <!-- 1 -->
    <tr>
        <td>A</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 2 -->
    <tr>
        <td>B</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 3 -->
    <tr>
        <td>C</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>
    <!-- 4 -->
    <tr>
        <td>D</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>
    <!-- 5 -->
    <tr>
        <td>E</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 6 -->
    <tr>
        <td>F</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 7 -->
    <tr>
        <td>G</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 8 -->
    <tr>
        <td>H</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 9 -->
    <tr>
        <td>I</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 10 -->
    <tr>
        <td>J</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

</table>


<!--Missão Destruição Total-->


<table>
    <caption>Missão Destruição Total</caption>
    <tr>
        <th>Nome do Jogador</th>
        <th>Pontuação</th>
        <th>Resultado final</th>
        <th>Nº de Mísseis lançados</th>
        <th>% de tiros no alvo</th>
        <th>% de barcos afundados</th>
    </tr>

    <!-- 1 -->
    <tr>
        <td>A</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 2 -->
    <tr>
        <td>B</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 3 -->
    <tr>
        <td>C</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>
    <!-- 4 -->
    <tr>
        <td>D</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>
    <!-- 5 -->
    <tr>
        <td>E</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 6 -->
    <tr>
        <td>F</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 7 -->
    <tr>
        <td>G</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 8 -->
    <tr>
        <td>H</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 9 -->
    <tr>
        <td>I</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

    <!-- 10 -->
    <tr>
        <td>J</td>
        <td> </td>
        <td> </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>

    </tr>

</table>


