@model List<Jogo>
@{
    ViewData["Title"] = "Hi-Scores -";

}

<div id="contain" class="page-header">
    <h1>Hi-Scores</h1>
</div>


<!-- Missão Antiaérea-->


<table>
    <caption class="text-center tablecaption">Missão Antiaérea</caption>

    <thead>
        <tr>
            <th rowspan="2">Nome do Jogador</th>
            <th rowspan="2">Pontuação</th>
            <th rowspan="2">Resultado final</th>
            <th class="text-center" colspan="3">Nº de Mísseis lançados</th>
            <th rowspan="2">% de tiros no alvo</th>
            <th rowspan="2">% de barcos afundados</th>

        </tr>


        <tr>
            <th>na água</th>
            <th>no alvo</th>
            <th>repetido</th>


        </tr>

    </thead>


    <tbody>

        @*Consoante a missão meter na tabela*@

        @foreach (Jogo j in Model)
        {

            if (j.Missao == "Antiaérea")
            { 

        <tr>
            <td>@j.Nome</td>
            <td>@j.Score </td>
            <td> </td>
            <td>  </td>
            <td> </td>
            <td>  </td>
            <td> </td>
            <td> </td>
        </tr>
        
            }
            
        }


    </tbody>

</table>


<!--Missão Destruição Total-->


<table>
    <caption class="text-center tablecaption">Missão Destruição Total</caption>
    <thead>
        <tr>
            <th rowspan="2">Nome do Jogador</th>
            <th rowspan="2">Pontuação</th>
            <th rowspan="2">Resultado final</th>
            <th class="text-center" colspan="3">Nº de Mísseis lançados</th>
            <th rowspan="2">% de tiros no alvo</th>
            <th rowspan="2">% de barcos afundados</th>

        </tr>


        <tr>
            <th>na água</th>
            <th>no alvo</th>
            <th>repetido</th>


        </tr>

    </thead>

    <tbody>

        @foreach (Jogo j in Model)
        {

            if (j.Missao == "Destruição Total")
            {

                <tr>
                    <td>@j.Nome</td>
                    <td>@j.Score </td>
                    <td> </td>
                    <td>  </td>
                    <td> </td>
                    <td>  </td>
                    <td> </td>
                    <td> </td>
                </tr>

            }
            

        }


    </tbody>

</table>


