@{
    ViewData["Title"] = "ModoAutonomo";
}

<h2>ModoAutonomo</h2>


<form class="form-inline" action="ModoAutonomo" method="post">

    <input type="hidden" name="id" value="@Model.ID" />

    <input id="radio1" checked="checked" type="radio" name="Tipo" value="auto3"> <label for="radio1">3 tiros</label><br />
    <input id="radio2" type="radio" name="Tipo" value="auto10"><label for="radio2">10 tiros</label><br />
    <input id="radio3" type="radio" name="Tipo" value="auto0"><label for="radio3">Kamikaze</label><br />
    <button class="btn btn-default" type="submit">Enviar</button>
</form>







