@model BattleshipPRJ.Models.Jogo

@{
    ViewData["Title"] = "Novo Jogo Local -";
}
<div id="contain" class="page-header">
    <h1>Novo Jogo Local</h1>

</div>




<form class="form-inline" asp-action="NewLocalGame" method="post">

    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Nome">Nome:</label>
        <input class="form-control" asp-for="Nome" />
    </div>

    <div class="form-group">

        <label asp-for="Missao"> Missão: </label>
        <select class="form-control" asp-for="Missao">

            <option value="" hidden selected disabled>- Escolhe uma missão -</option>
            <option value="Antiaérea">Antiaérea</option>
            <option value="Destruição Total">Destruição Total</option>


        </select>
    </div>


    <button class="btn btn-default" type="submit" align="middle">Iniciar Jogo &raquo</button>



</form>


<div class="row">

    <h3 id="contain" class="text-center">

        Missões disponíveis (no caso de não te lembrares)

    </h3>

    <div id="contain" class="col-md-6">

        <img class="imgcenter" src="~/images/portaavioes.jpg" alt="Missão Antiaérea" title="Missão Antiaérea">

        <figcaption>Missão Antiaérea</figcaption>

        <p>
            Tens como objetivo afundar o Porta-Aviões inimigo antes que o mesmo te destrua.

            Tens 20 tentativas para cumprires o teu objetivo , por isso é bom que tenhas boa pontaria.
            O jogo acaba quando o jogador tiver cumprido o seu objetivo ou ficar sem munições.
        </p>


    </div>

    <div id="contain" class="col-md-6">

        <img class="imgcenter" src="~/images/destotal.jpg" alt="Destruição Total" title="Destruição Total">

        <figcaption>Destruição Total</figcaption>

        <p>
            Tens como objetivo afundar toda a frota inimiga sem que a tua seja eliminada.
            Contas com 50 tentativas para cumprires o teu objetivo.
            O jogo tem o seu fim quando o jogador tiver cumprido o seu objetivo ou quando ficar sem munições.
        </p>

    </div>
</div>


